body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 8px;
  padding-right: 8px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  display: flex;
  align-items: center;
  padding: 16px;
}
.site-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f07f2e;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
}

.header-nav {
  margin-left: auto;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-list a {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.header-nav-list a:hover {
  color: #f07f2e;
}

.section {
  padding-bottom: 60px;
}

/* ------------------------------------- */
.hero {
  display: flex;
  align-items: flex-end;
  height: 480px;
  margin-bottom: 60px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(./img/bgHero.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.greeting {
  width: 432px;
  padding: 24px;
  margin-left: 28px;
  margin-bottom: 52px;
  border-radius: 16px;
  background: #0f3f3c;
}

.greeting h1 {
  margin-bottom: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 1.25px;
}

.greeting p {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
/* -------------------------------------- */
.section-title {
  margin-bottom: 40px;
  color: #2c2c2c;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
}
.section-subtitle {
  color: #2c2c2c;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

/* ---------------------------- */
.card-list {
  display: flex;
  gap: 40px;
}
.card-item {
  overflow: hidden;
  border-radius: 16px;
}
.card-item:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.card-item-thumb {
  padding: 16px 16px 24px 16px;
}
.card-title {
  margin-bottom: 8px;
  color: #2c2c2c;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
/* ----------------------- */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}
.gallery-item {
  flex-basis: calc((100% - 5 * 16px) / 6);
  border-radius: 16px;
  overflow: hidden;
}
.gallery-item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.gallery-title {
  margin-bottom: 8px;
}

/* ---------------------- */
.page-footer {
  background-color: #0f3f3c;
  padding-top: 48px;
  padding-bottom: 48px;
}
.page-footer > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.footer-text > img {
  margin-bottom: 8px;
}

.social-title {
  margin-bottom: 8px;
  text-align: right;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.social-links {
  display: flex;
  gap: 16px;
}

.social-links-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
}

.social-links-item a:hover {
  background-color: #ffffff;
}

.social-links-item svg {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

.social-links-item a:hover svg {
  fill: #f07f2e;
}
